{% extends 'base.html.twig' %}

{% block title %}New Work Place
{% endblock %}

{% block body %}
	<h1>Create New Work Section</h1>
	<div class="wrapper">
		<a href="{{ path('user_profile_index') }}">Back</a>
		<div class="container">
			{{ include('work_experience/_form.html.twig') }}

			<button type="button" class="add_item_link" data-collection-holder-class="duties">Add duty</button>
		</div>
	</div>
	<script src="{{ asset('scripts/new.js') }}"></script>

{% endblock %}
