{% extends 'base.html.twig' %}

{% block title %}Edit UsercProfile
{% endblock %}

{% block body %}
	<h1>Edit User Profile</h1>
	<div class="wrapper">
		<a href="{{ path('user_profile_index') }}">Back</a>
		<div class="container">
			{{ include('user_profile/_form.html.twig', {'button_label': 'Update'}) }}
		</div>
	</div>
	{% block stylesheets %}
		<link href="{{ asset('css/form.css') }}" rel="stylesheet"/>
	{% endblock %}
{% endblock %}
