{% extends 'base.html.twig' %}

{% block title %}
	Edit Education
{% endblock %}

{% block body %}
	<h1>Edit Education Section</h1>
	<div class="wrapper">
		<a href="{{ path('user_profile_index') }}">Back</a>

		<div class="container">
			{{ include('school/_form.html.twig', {'button_label': 'Update'}) }}

			<button type="button" class="add_item_link btn" data-collection-holder-class="duties">Add duty</button>

			{{ include('school/_delete_form.html.twig') }}
		</div>
	</div>

	<script src="{{ asset('scripts/edit-edu.js') }}"></script>

{% endblock %}
